<ion-header>
  <ion-navbar *ngIf="!isSearch">
    <ion-title>{{global?.SearchAttendants}}</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="search('button')">
        <ion-icon ios="md-search" md="md-search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar *ngIf="isSearch">
    <ion-searchbar animated="true" [(ngModel)]="searchKey" [showCancelButton]="shouldShowCancel" [placeholder]="global.Search"
      (ionInput)="onInput($event)" (ionClear)="search('ionClear')" (ionCancel)="resetSearchValue()">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content no-padding>
  <ion-list no-lines *ngIf="!noData || !noSearchResult">
    <ion-item *ngFor="let attendant of attendants; let i=index;" (click)="openDetails(i)">
      <p class="name">{{attendant?.first_name }} {{ attendant?.last_name}}</p>
      <p *ngIf="attendant?.checked" [class.red]="!attendant?.synced" class="time">{{global?.printDateFormat(attendant?.checked_in_at, attendant?.isToday)}}</p>
      <p *ngIf="!attendant?.checked" class="time">&lt;{{global?.NotChecked}}&gt;</p>
    </ion-item>
  </ion-list>

  <ion-grid class="no-data-grid" *ngIf="noData || noSearchResult" text-center>
    <ion-row>
      <ion-col class="no-data">
        <div class="chair image"></div>
        <div>
          {{global?.NoAttendeesFound}}
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
