page-search-attendants {
.close{
    display: flex;
    justify-content: center;
    ion-icon{
        font-size: 2.2em;
        margin: auto;
        color: white;
    }
}
.button-md{
    background-color: #C0CCDA;
}
.button-ios{
    background-color: #C0CCDA;
}
.red{
    color: red;
}
.name{
    font-size: 20px;
}
.time{
    margin: 3px 0;
}
.searchbar-md .searchbar-input{
    box-shadow: none;
    background-color: #C0CCDA;
    border-bottom: 1px solid #1E2D3E
}
.searchbar-md .searchbar-md-cancel{
    height: 90%;
}
.searchbar-md .searchbar-clear-icon{
    height: 90%;
}

.searchbar-ios .searchbar-input{
    box-shadow: none;
    background-color: #C0CCDA;
    border-bottom: 1px solid #1E2D3E
}
.searchbar-ios .searchbar-ios-cancel{
    height: 90%;
}
.searchbar-ios .searchbar-clear-icon{
    height: 90%;
}
}
