<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button ion-button icon-only (click)="openMenu()">
        <ion-icon ios="md-more" md="md-more"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{global?.SelectActiveEvent}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row class="marginEvent">
      <ion-col col-12>
        <form [formGroup]="selectEventForm">
          <ion-item>
            <ion-label>{{global?.SelectEvent}}</ion-label>
            <ion-select formControlName="event" [selectOptions]="{'cssClass': 'eventList'}" [disabled]="!eventList && eventList?.length <= 0">
              <ion-option *ngFor="let event of eventList" [value]="event?.id">{{event.name}}</ion-option>
            </ion-select>
          </ion-item>
          <p class="error" *ngIf="selectEventForm.controls['event']?.hasError('required') && (selectEventForm.controls['event']?.dirty || isFormInvalid)">{{global?.EventIsRequired}}</p>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-12 no-padding>
        <button class="reset-button" ion-button block (click)="next()" [disabled]="!eventList && eventList?.length <= 0">{{global?.Next}}</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>