<ion-header>

  <ion-navbar>
    <ion-title>{{global?.Setting}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row>
      <ion-col col-12>
        <div>
          <ion-list>
            <ion-list-header class="header">
              {{global?.WirelessNetworks}}
            </ion-list-header>
            <ion-item (click)="changePassword()">
              <ion-icon class="icons" ios="md-cog" md="md-cog" item-start></ion-icon>
              {{global?.ChangeMyPassword}}
            </ion-item>

            <ion-item (click)="changeLanguage()">
              <ion-icon class="icons" ios="ios-globe-outline" md="ios-globe-outline" item-start></ion-icon>
              {{global?.ChangeLanguage}}
            </ion-item>

            <ion-item (click)="soundAndNotification()">
              <ion-icon class="icons" ios="md-notifications" md="md-notifications" item-start></ion-icon>
              {{global?.SoundNotifications}}
            </ion-item>

            <ion-item (click)="changeBasePath()">
              <ion-icon class="icons" ios="md-code" md="md-code" item-start></ion-icon>
              {{global?.ChangeBasePath}}
            </ion-item>

            <ion-item>
              <ion-icon *ngIf="muteSound" class="icons" ios="md-volume-off" md="md-volume-off" item-start></ion-icon>
              <ion-icon *ngIf="!muteSound" class="icons" ios="md-volume-up" md="md-volume-up" item-start></ion-icon>

              <ion-label>{{global?.MuteSound}}</ion-label>
              <ion-checkbox (ionChange)="mute($event)" [(ngModel)]="muteSound" item-end></ion-checkbox>
            </ion-item>

          </ion-list>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
