//android Classes

.button-md{
    height: 5rem;
    background-color: #47525E;
}
.toolbar-title-md{
    color: white;
}
.toolbar-background-md{
    background-color: #C0CCDA;
}
.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary{
    color: #C0CCDA;
}
.item-input-has-focus .label-md[stacked], .input-has-focus .label-md[stacked], .item-input-has-focus .label-md[floating], .input-has-focus .label-md[floating]{
    color: #C0CCDA;    
}
.item-md{
    padding: 0 10px;
}
.list-md .item-input.item-input-has-focus:last-child, .list-md .item-input.input-has-focus:last-child{
    border-bottom-color: #47525E;
}
.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    // border-bottom-color: #47525E;
    box-shadow: none;
}
.item-md.item-input.item-input-has-focus .item-inner, .item-md.item-input.input-has-focus .item-inner{
    border-bottom-color: #47525E;
    box-shadow: none;    
}
.bar-button-md[icon-only] ion-icon{
    color: white;
}
.back-button-icon-md{
    color: white;
}
.bar-button-menutoggle-md ion-icon{
    color: white;
}



//IOS classes

.toolbar-ios{
    min-height: 56px;
}
.back-button-icon-ios{
    margin: 0;
    padding: 0 6px;
    text-align: left;
    text-align: start;
    font-size: 2.4rem;
    font-weight: normal;
}
.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{
    background-image: none;
}
.button-ios{
    height: 5rem;
    background-color: #47525E;
}
.toolbar-title-ios{
    color: white;
}
.toolbar-background-ios{
    background-color: #C0CCDA;
}
.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary{
    color: #C0CCDA;
}
.item-input-has-focus .label-ios[stacked], .input-has-focus .label-ios[stacked], .item-input-has-focus .label-ios[floating], .input-has-focus .label-ios[floating]{
    color: #C0CCDA;    
}
.item-ios{
    padding: 0 10px;
}
.list-ios .item-input.item-input-has-focus:last-child, .list-ios .item-input.input-has-focus:last-child{
    border-bottom-color: #47525E;
}
.item-ios.item-input.ng-invalid.ng-touched:not(.input-has-focus):not(.item-input-has-focus) .item-inner{
    // border-bottom-color: #47525E;
    box-shadow: none;
}
.item-ios.item-input.item-input-has-focus .item-inner, .item-ios.item-input.input-has-focus .item-inner{
    border-bottom-color: #47525E;
    box-shadow: none;    
}
.bar-button-ios[icon-only] ion-icon{
    color: white;
}
.back-button-icon-ios{
    color: white;
}
.bar-button-menutoggle-ios ion-icon{
    color: white;
}



//global classes
.color-header-background{
    background-color: #C0CCDA;
}

.image{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.error{
    color: #f53d3d;
    margin: 5px 10px;
}

.eventList{
    .alert-radio-label {
        white-space: unset !important;
    }
}

.defaultUser{
    position: absolute;
    top: -55px;
    left: calc(50% - 50px);
    margin: auto;
    border-radius: 64px;
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    background: #F0F2F7;
    color: #C0CCDA;
    
    ion-icon{
        font-size: 5.2em;
        display: flex;
        margin: auto;
        justify-content: center;
        padding-top: 10px;
    }
}