<ion-header>

  <ion-navbar>
    <!-- <ion-title>attendant-detail</ion-title> -->
  </ion-navbar>

</ion-header>


<ion-content no-padding>
  <ion-grid>
    <ion-row class="backImageRow">
      <ion-col col-12>
        <div class="backImage image"></div>
      </ion-col>
    </ion-row>
    <ion-row class="userImageRow" text-center *ngIf="isValid">
      <ion-col col-12 text-center>
        <!-- <div class="userImage image"></div> -->
        <div class="defaultUser">
          <ion-icon ios="md-person" md="md-person"></ion-icon>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="userImageRow" text-center *ngIf="!isValid">
      <ion-col col-8 offset-2 text-center>
        <div class="in-valid-div">
          Unrecognized ticket
        </div>
      </ion-col>
    </ion-row>

    <ion-row text-center *ngIf="isValid">
      <ion-col col-12 *ngIf="attendant?.name" class="name"> {{attendant?.name}} </ion-col>
      <ion-col col-12 *ngIf="event?.id" class="id">ID: {{event?.id}} </ion-col>
      <ion-col col-12 *ngIf="event?.description" class="profession" [innerHTML]="event?.description"></ion-col>
      <ion-col col-12 *ngIf="attendant?.ticket_type_id" class="ticket-details">Ticket: {{attendant?.ticket_type_id}}</ion-col>
      <ion-col col-12 *ngIf="attendant?.checked_in_at" class="ticket-time"> {{attendant?.checked_in_at | date:'shortTime'}}</ion-col>
    </ion-row>

    <ion-row text-center *ngIf="!isValid">
      <ion-col col-12>
        <div class="in-valid-description-div">
          <i>
            <p>The scanned QRCode doesn't exist here.</p>
            <p>Please sync with server or contact support.</p>
          </i>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-grid class="footer-grid">
    <ion-row>
      <ion-col col-12>
        <div class="place">{{event?.venue_name}}</div>
        <div class="place-2">{{address?.formatted_address}}</div>
      </ion-col>
    </ion-row>
    <ion-row class="detail absouleteCenter">
      <ion-col col-2 text-right>
        <b>20</b>
      </ion-col>
      <ion-col col-4 text-left class="detail-2">
        checked
      </ion-col>
      <ion-col col-2 text-right>
        <b>295</b>
      </ion-col>
      <ion-col col-4 text-left class="detail-2">
        remaining
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
